* {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-size: 25px;   
}
#btn_menu{
    display: none;
}
.menu_img{
    height: 30px;
    width: 30px;
}
header label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right:1px solid #F7F7F7 ;
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);

}
.header{
    background-color:#05121d; 
}
.nav{
    grid-area: nav;
    color: #F7F7F7;
    background: #05121d; 
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    animation-name: navanimada;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.nav_logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.nav_ul{
    color: #F7F7F7;
    background: #05121d; 
    padding: 25px;
    align-items: center;
    text-decoration: none;
    display: flex;
    justify-content: right;
    list-style-type: none;
    
}
.nav_li a{
    color: #F7F7F7;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    justify-content: right; 
    flex-grow: 1;           
}

.nav_li :hover {
    color: #8bfd09;
}

.cuerpo{
    display: grid;
    grid-template-areas: "header header header " "main main main" "footer footer footer";
    color: #F7F7F7;
    background-color: rgb(255, 255, 255); 
    text-decoration: none;    
    background: linear-gradient(rgba(5,7,12,0.75), rgba(5,7,12,0.75)), url(../img/mates1.jpg) , no-repeat;
    background-size: 200vh;
    background-attachment: fixed;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    flex-grow: 1;
}
.header{
    grid-area: header;
}

h1{
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;

   
}
h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.main {
    grid-area: main;
    color: #F7F7F7;
    font-size: 40px;
    border-radius: 4px;
    border-color: #F7F7F7;
    box-sizing: border-box;
    border-radius: 2px;

}
.main p{
    text-align: justify-all;
    float: left;
    z-index: 1;
    line-height: 1.5;
    
}

.fotito{  
    width: 200px;
    height: 200px;
    display: none;
    align-items: center;
    object-fit: scale-down;
}
.preparacion{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: scale-down;
}
.imagen {
    width: 200px;
    height: 200px;
    display: inline-block;
    object-fit: scale-down;
}
.productos{
    display: inline-block;
    width: 400px;
    height: 400px;
}
.cipo_foto {
    width: 400px;
    height: 400px;
    float: right;
}

.Tabla{
    color: #F7F7F7;
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-color: #F7F7F7;

}

#formu {
    color: #F7F7F7;
    

}
.formulario {
    display: flex;
    align-items: center;
    justify-items: center;
    color: #F7F7F7;
    border-radius: 4px;
    border-color: #F7F7F7;
    box-sizing: border-box;
    border-radius: 2px;
}

.footer{
    grid-area: footer;
    background: #05121d;
    font-size: 25px;
    color: #F7F7F7;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100px;
    
}
.footer_list{
    display: flex;
    align-content: center;
    justify-content: center;

}
.footer__li{
    color: #F7F7F7;
	padding: 25px;
    text-decoration: none;
	list-style-type: none;
    box-sizing: border-box;
}
.footer_list a {
    color: #F7F7F7;
}


.footer_list :hover {
    color: #8bfd09;
}

@keyframes navanimada {
    0% {background-color: #05121d;}
    100% {background-color: #000;}
    
}

@media screen and (max-width:768px) {
    
header label {
    display: block;
} 
 .nav_logo{
    display: none;
 }
 .nav{
    position: absolute;
    width: 70%;
    margin-left: -100%;
    transition: all 0.5s;
 }
.nav_ul{
    flex-direction: column;
}
.nav_li{
    border-top: 1px solid #F7F7F7;
}

#btn_menu:checked ~ .nav {
    margin: 0;
}
.cuerpo{
    font-size: 12px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 16px;
}

.main{
    font-size: 12px;
    text-align: center;
    line-height: 1.5;

}
.parrafo{
    text-align: left;
    float: none;
    line-height: 1.5;
    font-size: 12px;
}
.cipo_foto{
    width: 300px;
    height: 200px;
    float: none;
    align-items: center;
}

.footer_list a{
    font-size: 12px;
}
.Tabla{
    color: #F7F7F7;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-color: #66ff01;
}
.productos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-top: 5px;
    padding: 30px;
    
}
.productos img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.productos a {
    display: flex;
    align-items: center;
    justify-content: center;
}

}